
__pycache__
wsl.exe
venv/

.idea/

build/

GWSL.spec

GWSL_service.spec

dist/

GIMP/

new_service_debug.py


GIMP assets/

VCXSRV/XWin.log

VCXSRV/XWin.log.old

blur lol.py
